.form-signin {
    margin-top: 12%;
    margin-bottom: 16%;
    margin-left: 36%;
    max-width: 680px;
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="password"] {
    margin-bottom: 20px;
  }

.card {
  margin-right: 15px;
  margin-bottom: 15px;
}
